@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caveat&family=UnifrakturMaguntia&display=swap');



.contenedor {
    padding: 1em;
    margin-bottom: 0em;
    margin-top: 0em;
    margin-right: 10em;
    margin-left: 10em;
    border: 10mm ridge rgb(0, 0, 0);
    background-color: #151515;
    text-align: center;
    border-radius: 5%;
    box-shadow: 0px 9px 25px 19px rgba(195, 18, 255, 0.62);
    -webkit-box-shadow: 0px 9px 25px 19px rgba(195, 18, 255, 0.62);
    -moz-box-shadow: 0px 9px 25px 19px rgba(195, 18, 255, 0.62);
}

p {
    font-size: 25px;
    font-family: 'UnifrakturMaguntia', cursive;
    text-align: center;
    color: #FFFFFF;
}

h2 {
    font-family: 'Caveat', cursive;
    font-size: 50px;
    color: #FFFFFF;
}

h1 {
    font-family: 'UnifrakturMaguntia', cursive;
    font-size: 25px;
    color: #FFFFFF;
}

body {
    background-color: #301B3F;
}